#js-live-edit-element-handle-flex-grid-resizer {

    /*core*/
    user-select: none;
    pointer-events: none;
    position: absolute;
    top: 20px;
    z-index: 1000000000;
    display:none;
}
#js-live-edit-element-handle-flex-grid-resizer-north {

    user-select: contain;
    pointer-events: all;

    top: -30px;
    position: absolute;
    right: 50%;
}
#js-live-edit-element-handle-flex-grid-resizer-north-west {

    user-select: contain;
    pointer-events: all;

    top: -30px;
    position: absolute;
    left: -80px;
}
#js-live-edit-element-handle-flex-grid-resizer-south {
    user-select: contain;
    pointer-events: all;

    bottom: -30px;
    position: absolute;
    right: 50%;
}
#js-live-edit-element-handle-flex-grid-resizer-move {
    user-select: contain;
    pointer-events: all;

    bottom: -8px;
    position: absolute;
    right: 4%;
}
#js-live-edit-element-handle-flex-grid-resizer-south-west {

    user-select: contain;
    pointer-events: all;

    bottom: -30px;
    position: absolute;
    left: -84px;
}
#js-live-edit-element-handle-flex-grid-resizer-east {

    user-select: contain;
    pointer-events: all;

    position: absolute;
    right: -50px;
    top: 50%;
}
#js-live-edit-element-handle-flex-grid-resizer-north-east {

    user-select: contain;
    pointer-events: all;

    top: -30px;
    position: absolute;
    right: -80px;
}
#js-live-edit-element-handle-flex-grid-resizer-south-east {

    user-select: contain;
    pointer-events: all;

    bottom: -30px;
    position: absolute;
    right: -84px;
}
#js-live-edit-element-handle-flex-grid-resizer-west {

    user-select: contain;
    pointer-events: all;

    position: absolute;
    left: -50px;
    top: 50%;
}

