.js-live-edit-element {
    border:2px solid transparent;
}

.js-live-edit-element[contenteditable='true'] {
    caret-color: #3592f5;
    outline: 0px;
}

.js-live-edit-element-border {
    border: 2px dashed rgba(53, 146, 245, 0.42);
}
.js-live-edit-element-background {



}
