#js-live-edit-section-handle {
    position: absolute;
    top: 20px;
    display: none;
    z-index: 1000000;
    user-select: none;
    pointer-events: none;

    /*design*/
    border-top: 3px solid #1ee2bd;
    border-bottom: 3px solid #1ee2bd;
}

.js-live-edit-section-handle-action-add {
    background: #1ee2bd;
    border-radius: 4px;
    padding: 8px 20px;
    text-transform: uppercase;
    text-align: center;
    border: 0px;
    position: absolute;
    color: #fff;
    font-size: 12px;
}
#js-live-edit-section-handle-action-add-top {
    top: -19px;
    left: 50%;
}
#js-live-edit-section-handle-action-add-bottom {
    bottom: -19px;
    left: 50%;
}
